Repository confio/poe-contracts, pull requests merged in 2022-02, with the labels that each got.

#61 Optimize validators storage
  .circleci/config.yml
  Cargo.lock
  contracts/tgrade-valset/Cargo.toml
  contracts/tgrade-valset/src/contract.rs
  contracts/tgrade-valset/src/msg.rs
  contracts/tgrade-valset/src/multitest/stake.rs
  contracts/tgrade-valset/src/state.rs
  contracts/tgrade-valset/src/test_helpers.rs
  contracts/tgrade-valset/tests/integration.rs
Labels: breaking, breaking-state

#93 tg3: Common voting interfaces for tgrade
  Cargo.lock
  contracts/tg4-engagement/README.md
  contracts/tg4-stake/README.md
  contracts/tgrade-community-pool/Cargo.toml
  contracts/tgrade-community-pool/README.md
  contracts/tgrade-community-pool/src/msg.rs
  contracts/tgrade-validator-voting/Cargo.toml
  contracts/tgrade-validator-voting/README.md
  contracts/tgrade-validator-voting/src/contract.rs
  contracts/tgrade-validator-voting/src/msg.rs
  contracts/tgrade-validator-voting/src/multitest.rs
  contracts/tgrade-validator-voting/src/multitest/suite.rs
  packages/tg3/.cargo/config
  packages/tg3/Cargo.toml
  packages/tg3/NOTICE
  packages/tg3/README.md
  packages/tg3/examples/schema.rs
  packages/tg3/src/helpers.rs
  packages/tg3/src/lib.rs
  packages/tg3/src/msg.rs
  packages/tg3/src/query.rs
  packages/tg4/README.md
  packages/voting-contract/Cargo.toml
  packages/voting-contract/src/lib.rs
  packages/voting-contract/src/msg.rs
  packages/voting-contract/src/multitest/contracts/voting.rs
  packages/voting-contract/src/multitest/early_end.rs
  packages/voting-contract/src/multitest/group_change.rs
  packages/voting-contract/src/multitest/proposing.rs
  packages/voting-contract/src/multitest/queries.rs
  packages/voting-contract/src/multitest/suite.rs
  packages/voting-contract/src/multitest/voting.rs
  packages/voting-contract/src/state.rs
Labels: breaking, breaking-api

#96 Valset config contract names
  contracts/tgrade-valset/README.md
  contracts/tgrade-valset/src/contract.rs
  contracts/tgrade-valset/src/msg.rs
  contracts/tgrade-valset/src/multitest/contract.rs
  contracts/tgrade-valset/src/multitest/stake.rs
  contracts/tgrade-valset/src/multitest/suite.rs
  contracts/tgrade-valset/src/rewards.rs
  contracts/tgrade-valset/src/state.rs
  contracts/tgrade-valset/src/test_valset_stake.rs
Labels: breaking, breaking-state, breaking-api

#112 valset: store and expose the start of a jailing period
  Cargo.lock
  contracts/tgrade-valset/Cargo.toml
  contracts/tgrade-valset/src/contract.rs
  contracts/tgrade-valset/src/lib.rs
  contracts/tgrade-valset/src/migration.rs
  contracts/tgrade-valset/src/msg.rs
  contracts/tgrade-valset/src/multitest/double_sign.rs
  contracts/tgrade-valset/src/multitest/helpers.rs
  contracts/tgrade-valset/src/multitest/jailing.rs
Labels: breaking, breaking-state, breaking-api
